<div class="card mx-auto mb-3">
    <div class="card-body">
        <h5 class="card-title">{{ review.recipe }}</h5>
        <p class="card-text">{{ review.recipe.author.username }}</p>
        <div class="mb-1">
          {% with recipe.avg_rating|default_if_none:0|floatformat:0 as rounded %}
            {% for i in "12345" %}
              {% if forloop.counter <= rounded|add:0 %}
                <i class="bi bi-star-fill text-warning fs-5"></i>
              {% else %}
                <i class="bi bi-star text-warning opacity-50 fs-5"></i>
              {% endif %}
            {% endfor %}
          {% endwith %}
        </div>
        <p class="card-text">{{ review.comment }}<br>{{ review.user.username }}</p>
        <a href="{% url 'recipe_reviews' review.recipe.pk %}" 
        class="btn btn-outline-secondary">See more!</a>
    </div>
</div>