{% comment %} This page makes the dropdown menu for the navbar {% endcomment %}

<div class="collapse navbar-collapse navbar-right" id="navbarSupportedContent">
  <ul class="navbar-nav mb-2 mb-lg-0">

    {% if user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'dashboard' %}" style="color: red !important">Dashboard</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link" href="% url 'home' %" id="user-account-dropdown" role="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        <span class="bi-person-circle"></span>
      </a>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="user-account-dropdown">
        <li><a class="dropdown-item" href="{% url 'display_user_profile' %}">My profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="{% url 'log_out' %}">Log out</a></li>
      </ul>
    </li>

    {% endif %}

  </ul>
</div>