/*
 * Alerts
 */

.alert {
  border-radius: 0px;
}


/*
 * Cover page
 */

.content {
  padding-top: 10px;
}

.h-100 {
  min-height: 100vh;
  height: 100vh;
}

.vcenter-item{
    display: flex;
    align-items: center;
}

/*
 * Cover page
 */
h1.cover-heading {
  font-size: 4rem;
}

p.cover-text {
  font-size: 1.7rem;
}

.cover-card {
  background-color: rgba(187, 19, 19, 0.6);
  max-width: 30rem;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
  border-radius: 15%;
}

.cover-card-block {
  opacity: 1
}

.rounded-card {
  border-radius: 30px
}

.rounded-top-image {
  border-radius: 30px 30px 0 0 
}


/*
 * forms
 */
.nolabel label {
  display: none;
}

ul.errorlist {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/*
 * Typefaces
 */

.low-key {
  color: #777777;
  font-weight: 300;
}

.list-title {
  margin-top: 10px;
  margin-bottom: 20px;
}

/*
 * Profile
 */
.profile-image {
  width: 120px;
  clear:both;
  float:left;
}

.profile-text {
  overflow:hidden;
  padding-left:20px
}

h3.profile-title {
  margin-bottom: 0px;
}

.profile-username {
  color: #777777;
  font-weight: 300;
  font-style: italic;
}


/*
 * Hyperlinks
 */
.content a {
  text-decoration: none;
  color: #0d6efd;
}
.content a:hover {
  text-decoration: underline;
  color: #0d6efd;
}

.dark-link {
  text-decoration: underline;
  color: #000000;
}

.grey-link {
  text-decoration: none;
  color: #555555;
}

.tag-link {
  text-decoration: underline;
  color: #848484;
}

/*
 * Footer
 */
.footer-colour{
  background-color: #b0b0b0;
}


/*
 * font sizes
 */
.fs-14 { 
  font-size: 14px; 
}


/*
 * recipe card
 */

.description-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;

  /* also define standard property 'line-clamp' for compatibility */
  line-clamp: 3;
}

.tag-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;

  /* also define standard property 'line-clamp' for compatibility */
  line-clamp: 2;
}

.rc-img-format {
  height: 200px; 
  object-fit: cover;
}