/*
 * Alerts
 */

.alert {
  border-radius: 0px;
}

/*
 * Sticky-top navbar covers page content, hence:
 */

body {
  padding-top: 100px;
  background: rgb(255, 255, 255) !important;
}


/*
 * Cover page
 */

.content {
  padding-top: 10px;
}

.h-100 {
  min-height: 100vh;
  height: 100vh;
}

.vcenter-item{
    display: flex;
    align-items: center;
}

/*
 * Cover page
 */
h1.cover-heading {
  font-size: 4rem;
}

p.cover-text {
  font-size: 1.7rem;
}

.cover-card {
  background-color: rgba(155, 152, 148, 0.6);
  max-width: 30rem;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
  border-radius: 15%;
}

.cover-card-block {
  opacity: 1
}

.rounded-card {
  border-radius: 30px
}

.rounded-top-image {
  border-radius: 30px 30px 0 0 
}


/*
 * forms
 */
.nolabel label {
  display: none;
}

ul.errorlist {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/*
 * Typefaces
 */

.low-key {
  color: #777777;
  font-weight: 300;
}

.list-title {
  margin-top: 10px;
  margin-bottom: 20px;
}

/*
 * Profile
 */
.profile-image {
  width: 120px;
  clear:both;
  float:left;
}

.profile-text {
  overflow:hidden;
  padding-left:20px
}

h3.profile-title {
  margin-bottom: 0px;
}

.profile-username {
  color: #777777;
  font-weight: 300;
  font-style: italic;
}


/*
 * Hyperlinks
 */
.content a {
  text-decoration: none;
  color: #0d6efd;
}
.content a:hover {
  text-decoration: underline;
  color: #0d6efd;
}

.dark-link {
  text-decoration: underline;
  color: #000000;
}

.grey-link {
  text-decoration: none;
  color: #555555;
}

.tag-link {
  text-decoration: underline;
  color: #848484;
}

/*
 * Footer
 */
.footer-colour{
  background-color: #b0b0b0;
}


/*
 * font sizes
 */
.fs-12 { 
  font-size: 12px; 
}


/*
 * recipe card
 */

.description-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;

  /* also define standard property 'line-clamp' for compatibility */
  line-clamp: 3;
}

.tag-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;

  /* also define standard property 'line-clamp' for compatibility */
  line-clamp: 2;
}


/*
 * welcome page
 */

.rc-img-format {
  height: 200px; 
  object-fit: cover;
}

.carousel-inner img {
    height: 500px;       /* Set the same height */
    width: auto;         /* Maintain aspect ratio */
    object-fit: cover;   /* Crop parts of the image if necessary */
}


.featurette-divider {
  margin: 3rem 0; /* space above and below */
  border: 0;
  border-top: 1px solid #868686; /* thin light line */
}

.featurette-image {
  width: 500px;
  height: 500px;
  object-fit: cover;
}

.big-font {
    font-size: 50px; 
}

.medium-font {
  font-size: 35
}

.img-small-circle {
  width: 100px;
  height: 100px;
  object-fit: cover;
}


/* Navbar */
.bg-dark {
  background-color: #ffffff !important;
  color: black !important;
}

.navbar * {
  font-weight: bold !important;
}

/* Brand */
.navbar-dark .navbar-brand {
  color: rgb(255, 0, 0) !important;
}

/* Nav links */
.navbar-dark .navbar-nav .nav-link {
  color: black !important;
}
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
  color: black !important;
}

/* Hamburger icon */
.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='black' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

/* Search bar text + placeholder */
.navbar-dark .form-control {
  color: black !important;
}
.navbar-dark .form-control::placeholder {
  color: #555 !important;
}

/* Search button */
.navbar-dark .btn {
  color: black !important;
  border-color: black !important;
}

.navbar .form-control {
  background-color: #c3c3c3 !important; 
  color: #222 !important;
  border: none !important;
  border-radius: 20px !important;
}

.navbar .form-control::placeholder {
  color: #444 !important;
}

/* Search Functionality in Navbar */
/* Allow the search bar to stretch fully across the navbar */
/* Make the navbar full-flex */
.navbar .container-fluid {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  gap: 1rem;
}

/* Search form grows to fill the space */
.navbar .search-form {
  flex-grow: 1 !important;
}

/* Input fills form */
.navbar .search-form .form-control {
  width: 100% !important;
}

/* Right-hand menu stays fixed size */
.navbar .navbar-right {
  flex-shrink: 0 !important;
  margin-left: 1rem; /* optional spacing */
}

/* Prevent UL from forcing spacing */
.navbar .navbar-right .navbar-nav {
  margin-left: 0 !important;
}


/* Sidebar */
.sidebar {
  background-color: #ffffff; /* Black */

}



#sidebar.offcanvas a {
  color:rgb(0, 0, 0) !important;
}

/* The navigation menu links */
.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #ff0000;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

#sidebar li, .sidebar li {
  list-style-type: none !important;
}

/*Hamburger*/
.bi-justify {
  font-size: 24px !important;
}

.btn.custom {
  border: none !important;
  box-shadow: none !important;
}



.offcanvas-start {
  width:200px !important;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

/* Custom Button Colour*/
.my-custom-btn {
  background-color: #8a2be2; /* custom colour (purple example) */
  color: white;             /* text colour */
  border: none;             /* removes default border */
}


.instagram-icon {
  font-size: 2rem;
  margin-top: auto;
  text-align: center;
  align-self: center
}
