{% extends 'base.html' %}
{% block body %}
  {% include 'partials/navbar.html' %}
  {% include 'partials/messages.html' %}
  {% block content %}
  {% load static %}

  <div class="container-fluid">

    <div class="jumbotron mb-3 mt-3 p-3 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
          <h1 class="display-4 font-italic">Explore</h1>
          <p class="lead my-3">
            See what others have been up to- like, comment, save, share and more!</p>
        </div>
      </div>

    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-4">

      {% for recipe in page_obj %}
        {% include "partials/recipe_card.html" with recipe=recipe %}
      {% endfor %}
      
    </div>

    <footer class="text-center text-white mt-4 footer-colour">

      <div class="container p-4 pb-1">

        <section class="">
          <p class="d-flex justify-content-center align-items-center ">
            <span class="me-3 current">Showing {{ page_obj.start_index }} - {{ page_obj.end_index }} of {{ page_obj.paginator.count }}</span>

            {% if page_obj.has_previous %}
                <a href="{% url 'explore' %}?page={{ page_obj.previous_page_number }}" class="btn btn-outline-light btn-rounded" >
                Previous
                </a>
            {%endif%}

            {% if page_obj.has_next %}
                <a href="{% url 'explore' %}?page={{ page_obj.next_page_number }}" class="btn btn-outline-light btn-rounded m-2">
                Show more
                </a>
            {%endif%}
          </p>
        </section>

      </div>
      
    </footer>


  </div>


    

  {% endblock %}
{% endblock %} 