{% extends 'base.html' %}
{% block body %}
  {% include 'partials/navbar.html' %}
  {% include 'partials/messages.html' %}
  {% block content %}
  {% load static %}

  <!--<div class="d-flex">
    <div class="container bg-dark">
      Container 1
    </div>
    <div class="container bg-success text-white p-3">
      Container 2
    </div>
  </div> -->

  <div class="container-fluid">

    <div class="row row-cols-3 row-cols-md-5 g-4">

      {% for i in repeat_times%} <!--display newest 25 recipes by default-->
        {%include "partials/test_card.html"%}
      {%endfor%}
      
    </div>

    <footer class="text-center text-white mt-4 footer-colour">
      <!-- Grid container -->
      <div class="container p-4 pb-1">
        <!-- Section: CTA -->
        <section class="">
          <p class="d-flex justify-content-center align-items-center">
            <span class="me-3">Showing recipes x - y</span> <!--need index var tbat say how many we're showing-->
            <button type="button" class="btn btn-outline-light btn-rounded">
              Show more!
            </button>
          </p>
        </section>
        <!-- Section: CTA -->
      </div>
      <!-- Grid container -->
    </footer>


  </div>


    

  {% endblock %}
{% endblock %} 

<!--For items in recipies table, {% include partial that makes a card
displaying recipe photo, name, and creator 
could make it a doomscroll using this but computationally would it suck ass?
would prob do 1-50, then have option to click for more

how would this be affected by filtering?
Just, for items in 'acceptable options'%}-->