{% extends 'base.html' %}
{% block body %}
  {% include 'partials/navbar.html' %}
  {% include 'partials/messages.html' %}
  {% block content %}
  {% load static %} <!-- so I can load photo- find better (?) method later-->

    <!--create partial for this page-->  


  <!--<div class="d-flex">
    <div class="container bg-dark">
      Container 1
    </div>
    <div class="container bg-success text-white p-3">
      Container 2
    </div>
  </div> -->

  <div class="container-fluid">

    <div class="row row-cols-3 row-cols-md-5 g-4">
      index = 0
      while i < index+=25
      find recipe name + description + photo + tags + user name from table with primark key i
      {% include "recipe_cards.html" %} + fill with data

      
    </div>

  </div>


    

  {% endblock %}
{% endblock %} 

<!--For items in recipies table, {% include partial that makes a card
displaying recipe photo, name, and creator 
could make it a doomscroll using this but computationally would it suck ass?
would prob do 1-50, then have option to click for more

how would this be affected by filtering?
Just, for items in 'acceptable options'%}-->