{% extends 'base_content.html' %}
{% block content %}
<div class="container">

    <!--top bar container-->
    <div class="text-center mb-4">
        <h1>Lasagna</h1>
        <p>
            by <span>User's name</span> 4.5/5 (100 reviews)
        </p>
    </div>

    <!-- Image description of Recipe-->
    <div class="text-center mb-4">
        <p>Description of the dish</p>
        <img src="image-of-food.jpg" alt="image of recipe">
    </div>

    <!-- Recipe Info (Time, Servings, Yield)-->
    <div class="row justify-content-center text-center mb-4 g-3">
        <div>
            <h5>Prep Time</h5>
            <p>30 minutes</p>
        </div>
        <div>
            <h5>Cook Time</h5>
            <p>60 minutes</p>
        </div>
        <div>
            <h5>Total Time</h5>
            <p>60 minutes</p>
        </div>
        <div>
            <h5>Servings</h5>
            <p>6</p>
        </div>
    </div>

    <!-- Ingredients and Directions Container-->
    <div class="row g-4">

        <!-- Ingredients-->
        <div class="col-12 col-lg-4">
            <h3>Ingredients</h3>
            <ul>
                <li>Pasta sheets</li>
                <li>Tomato sauce</li>
                <li>Mince meat</li>
            </ul>
        </div>

        <!-- Directions-->
        <div class="col-12 col-lg-8">
            <div>
                <h3>Directions</h3>
                <ol>
                    <li>Boil pasta sheets</li>
                    <li>Tomato sauce</li>
                    <li>Mince meat</li>
                </ol>
            </div>
        </div>


    </div>

</div>
{% endblock %}